# Cấu hình App
PORT=3000

# Cấu hình Database (PostgreSQL từ Supabase)
DATABASE_URL=postgresql://postgres:password@db.xxx.supabase.co:5432/postgres

# Cấu hình Supabase (dành cho Upload Storage)
SUPABASE_URL=https://xxx.supabase.co
SUPABASE_KEY=your_supabase_key

# Cấu hình JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
